

.main{
    /*background-color: black;*/
    background-image: url(./assets/hacker.jpeg);
    width: 85vw;
    height: 95%;
    margin: auto;
}
header{
    background-color: grey;
    width: 85vw;
    margin: auto;
    text-align: center;

}

.icon{
    width: 10px;
    height: 10px;
}

footer{
    background-color: dimgray;
    width: 85vw;
    margin: auto;
    text-align: center;
    text-align: center;
}
.card{
    transition: 2s;
    background-color: lightgrey;
    
}
.card :hover{
    transform: rotateY(180deg);
    transition: 2s;
  }
  .resPic{
width: 250px;
height: 250px;
  }
.main{

}
.pic{

}
.about{
width: 80%;
display: inline;
align-items: center;
margin: auto;

}
.skills{
    position: relative;
    margin: auto;
}


.projects{

margin: auto;
position: relative;
}
.cardBlockOne{
    width: 85%;
    margin: auto;
    
}
.cardBlockTwo{
    width: 85%;
    
    margin: auto;
}
.cardBlockThree{
    width: 85%;
    margin: auto;
}
.cardBlockFour{
    width: 85%;
    margin: auto;
}
.resume{

}
.contact{

}