
.main{
    background-image: url(./assets/coding\ background2.jpeg);
    width: 85%;
    height: 95%;
    margin: auto;
}
header{
    background-color: dimgray;
    width: 85%;
    margin: auto;
    text-align: center;

}

.icon{
    width: 10px;
    height: 10px;
}

footer{
    background-color: dimgray;
    width: 85%;
    margin: auto;
    text-align: center;
    text-align: center;
}
.card{
    transition: 2s;
}
.card :hover{
    transform: rotateY(180deg);
    transition: 2s;
  }
  .resPic{
width: 250px;
height: 250px;
  }
.main{

}
.pic{

}
.about{
background-color: floralwhite;
width: 90%;
margin: auto;
}
.projects{

margin: auto;
position: relative;
}
.cardBlockOne{
    width: 85%;
    margin: auto;
}
.cardBlockTwo{
    width: 85%;
    margin: auto;
}
.cardBlockThree{
    width: 85%;
    margin: auto;
}
.resume{

}
.contact{

}